doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-width=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='/javacripts/jquery-3.1.0.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
